.drop-down {
  position: relative;
}

.drop-down__label {
  display: block;
  margin-bottom: var(--space-1);
  color: var(--input-text);
}

.drop-down__input {
  box-shadow: var(--input-shadow);
  padding: var(--space-2) var(--space-3) var(--space-2) var(--space-4);
  color: var(--input-placeholder);
  display: flex;
  align-items: center;
  border-radius: var(--input-radius);
}

.drop-down__input:hover {
  box-shadow: var(--input-shadow-hover);
}

.drop-down__label,
.drop-down__input {
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}

.drop-down__panel {
  width: 100%;
  position: absolute;
  margin-top: var(--space-2);
  padding: var(--space-2) 0;
  box-shadow: var(--input-shadow);
  border-radius: var(--input-radius);
  max-height: 300px;
  overflow-x: auto;
}

.drop-down__icon {
  background: var(--background-weak);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin-left: auto;
  color: var(--text);
}

